<link href='{{ site.baseurl }}/images/favicon.ico' rel='shortcut icon'>
<link href='{{ site.baseurl }}/stylesheets/style.css' rel='stylesheet' type='text/css' />
<link href='{{ site.baseurl }}/stylesheets/syntax.css' rel='stylesheet' type='text/css' />
<link href='{{ site.baseurl }}/stylesheets/responsive.css' rel='stylesheet' type='text/css' />
<link href="{{ site.baseurl }}/feed.xml" rel="alternate" type="application/rss+xml">
<script src='{{ site.baseurl }}/javascripts/jquery.js' type='text/javascript'></script>
<script src='{{ site.baseurl }}/javascripts/basics.js' type='text/javascript'></script>
<meta content='width=device-width, initial-scale=1.0, user-scalable=no' name='viewport'>
<meta content='text/html; charset=utf-8' http-equiv='content-type' />
<meta name="description" content="Payssion为中小企业和个人提供一站式的全球支付解决方案，让你轻松接入全球最流行的支付方式，用户付款更容易，支付成功率更高。" />
<meta name="keywords" content="跨境支付，跨境收款，海外本地支付，海外本地收款，外贸收款，小语种支付，小语种收款，俄罗斯本地支付，巴西本地支付" />
{% if site.google_analytics_id %}
  {% include ga.html %}
{% endif %}
